.signin-main-container {
    max-width: 500px;
    margin-left: 35%;
}

.signin-paper h4 {
    text-align: center;
}

.signin-avatar {
    height: 70px;
    border-radius: 50px;
}

.select-user {
    margin-left: 2%;
    border: 5px solid rgb(213, 210, 235);
    width: 90%;
    margin-bottom: 20%;
    margin-top: 10%;
}

.select-form {
    width: 450px;    
    max-height: 100px;
}

.select-form Label {
    font-weight: 700;
    margin-left: 5%;
}

.select-menu MenuItem {
    text-align: center;
}

.select-name {
    margin-left: 5%;
    color: rgb(76, 26, 99);
}